%Button
  height: 1.5cm
  border: 1px solid grey
  cursor: pointer
  font-family: 'Poppins', sans-serif
  font-weight: bold
  font-size: 0.5cm

body
  width: 100vw
  height: 100vh
  background-color: #dddddd
  display: flex
  justify-content: center
  align-items: center
  overflow: hidden

.calculator
  min-width: 6cm
  width: 25vw

#calculator-display
  height: 2cm
  width: calc( 100% - 2px )
  border: 1px solid grey
  background: white
  display: flex
  align-items: flex-end
  justify-content: flex-end
  font-family: 'Poppins', sans-serif
  font-weight: bold
  font-size: 0.5cm

#calculator-buttons
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap

.normal-button
  width: calc(100%/3)
  @extend %Button

.double-button
  width: calc(100%/3*2)
  @extend %Button

.triple-button
  width: 100%
  @extend %Button
