%Button
  height: 1.5cm
  border: 1px solid grey
  cursor: pointer
  font-family: 'Poppins', sans-serif
  font-weight: bold
  font-size: 0.5cm

body
  overflow: hidden
  margin: 0

#control-panel
  width: 100vw
  height: 100vh
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  align-content: center
  background-color: white
  font-family: 'Poppins', sans-serif
  font-size: 20px
  font-weight: bold

#control-panel-buttons-section
  height: calc( 100vh - 20% )
  width: calc( 20cm - 120px )
  display: flex
  flex-wrap: wrap
  flex-direction: row
  justify-content: center
  align-items: center
  align-content: center

.check-list-label
  margin: 10px 10px 10px 10px
  border: 1px solid grey
  padding: 10px
  font-family: 'Poppins', sans-serif
  font-size: 15px
  font-weight: bold

.control-panel-accept-button
  width: 5cm
  height: 1cm
  border: 1px solid grey
  font-family: 'Poppins', sans-serif
  font-weight: bold
  font-size: 0.5cm
  cursor: pointer

.hidden
  margin-top: 100vh

.calculator-panel
  width: 100vw
  height: 100vh
  background-color: #dddddd
  display: flex
  justify-content: center
  align-items: center

.calculator
  min-width: 6cm
  width: 25vw

#calculator-display
  height: 2cm
  width: calc( 100% - 2px )
  border: 1px solid grey
  background: white
  display: flex
  align-items: flex-end
  justify-content: flex-end
  font-family: 'Poppins', sans-serif
  font-weight: bold
  font-size: 0.5cm

#calculator-buttons
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  border: 1px solid grey

.unvisible
  opacity: 30%

.normal-button
  width: calc(100%/3)
  @extend %Button

.double-button
  width: calc(100%/3*2)
  @extend %Button

.triple-button
  width: 100%
  @extend %Button

.moved
  border-color: black
  background-color: #c2c2c2
